<div class="wrap">
    <span routerLink="">forum.</span>
    <div class="wrap_login" *ngIf="personalInfo">
        <div class="wrap_login__button" routerLink="personal/{{personalInfo.id}}">
            signed as {{personalInfo.username}}
        </div>
        |
        <div class="wrap_login__button" (click)="logout()">log out</div>
    </div>
    <div class="wrap_login" *ngIf="user == null">
        <div class="wrap_login__button" routerLink="login" routerLinkActive="active">
            log in
        </div>
        |
        <div class="wrap_login__button" routerLink="register" routerLinkActive="active">
            sign up
        </div>
    </div>
</div>
