<div class="wrapper">
    <form class="content" [formGroup]="loginForm" (keydown)="onEnterKey($event)">
        <div class="title">log in</div>
        <div class="input-item">
            <div class="label">username</div>
            <input type="text" formControlName="username">
        </div>
        <div class="input-item">
            <div class="label">password</div>
            <input type="password" formControlName="password">
        </div>
        <div class="button-group">
            <app-button [type]="'primary'" [text]="'log in'"
            (click)="onSubmit()"
            ></app-button>
            <div routerLink="/register">    
                <app-button [type]="'secondary'" [text]="'dont have an account yet'"></app-button>
            </div>
        </div>
    </form>
</div>