<div class="wrapper" *ngIf="!loading">
    <div class="personal">
        <div class="personal_content">
            <div class="personal_img" [ngStyle]="{'background': '#' + userColor}"></div>
            <div class="personal_name" routerLink="/user/{{user.id}}">{{user.name}}</div>
            <div class="personal_subinfo">
                <div class="personal_subinfo__item">{{user.username}}</div>
                <div class="personal_subinfo__item">{{user.company.name}}</div>
                <div class="personal_subinfo__item" (click)="onRedirect(user.website)">{{user.website}}</div>
            </div>
            <div class="personal_location">
                <span class="material-icons">
                    location_on
                </span>
                {{user.address.city}}, {{user.address.street}}
            </div>
        </div>
    </div>
    <div class="posts">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="loader" *ngIf="loading">
    loading now
</div>