<div class="wrapper" *ngIf="!loading">
    <div class="title" *ngIf="album">{{album.title}}</div>
    <div class="photos">
        <div *ngFor="let p of photos">
            <div class="photo_item">
                <!-- <div *ngIf="imgLoaded"> -->
                    <img (load)="_imgLoaded()" src="{{p.url}}">
                <!-- </div> -->
                <div *ngIf="!imgLoaded">
                    <div  class="placeholder"></div>
                </div>
                <span>{{p.title}}</span>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading">
    loading now
</div>